body {
	overflow-y: auto;
	display: flex;
	flex-flow: column;
	align-content: center;
	align-items: center;

	background-color: linen;
	background-image: url('../img/bamboo.jpg');
	background-size: cover;
	background-position: center center;

}


#loginWrap{
	background-color:lightgray;
}

#signup-anchor{
	cursor: pointer;
}

/*.page-login {
	display: flex;
	flex-direction: column;
}

	.page.login .logo {
		display: block;
		background-color: lightgray;
		background-image: url('/img/RayFace.jpg');
		background-size: cover;
		background-position: center center;

		margin-bottom: 50px;

		width: 350px;
		height: 350px;
	}

	.page.login button {
		margin-left: 15px;
		margin-bottom: 20px;
		height: 35px;
	}

	.page.login input {
		margin-bottom: 20px;
		width: 302px;
		height: 25px;
		font-size: 12pt;
		padding: 2px;

		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}*/



	#page-lobby{
		display: none;
		width: 80%;
	}


	.page .lobby{
		width: 80%;
	}

	.lobby-wrap{
		height: 700px;
		width: 100%;
		margin-bottom: 5%;
	}



	.lobby-wrap .left-col, .right-col{
		float:left;
		height: 100%;
	}

	.lobby-wrap .left-col{
		width: 40%;

	}

	.lobby-wrap .right-col{
		width: 57%;
		margin-left:3%;
	}


	.lobby-wrap .user-panel{
		height: 25%;
	}

	.lobby-wrap #chatbox {
		height: 72%;
		margin-bottom: 0;
	}

	#chatbox .chatbox-wrap{
		height: 100%;

	}

	.chatbox-wrap .chat-core{
	 height: 95%;
	 background-color: olive;
 }

 #chatlog {
		height:50%
 }

 #chatbox .card-action{
		height: 55%
 }

 /* format right-col*/

.right-col .active-games{
		height: 50%;
}


.right-col .player-list{
		height: 47%;
		background-color: white;
}

.player-list #player-list{
		height: 100%;
}

/* Styling of Game page */
.main {
	display: none;
	margin:auto;
	width:100%;
}


.panelLeft, .panelRight{
  margin:auto;
  width:25%;
  float: left;
}

.panelLeft{
  margin-left: ;
  width:25%;
  float: left;
}


#p1{
  box-sizing: border-box;
  margin:auto;
	margin-top: 10%;
	margin-left: 18%;
	width: 80%;
}
#p2{
  box-sizing: border-box;
  margin:auto;
	margin-top: 10%;
  width: 80%;
}

.cardWrap #left-card, #right-card{
	height: 650px;
	background-color: olive;
}

.board{
  margin:auto;
  width:600px;
  height:700px;
  padding:5% 0 0 1%;
  float:left;
  background-size: contain;
  background-repeat: no-repeat;
}

/*.grdgrp{
  margin-top: 19%;
  width:100%;
  height:70%;
}*/
